﻿
@{
    ViewBag.Title = "INFO";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />

    <title>E4 VNEXPRESS</title>

    <link href="~/content/CSS/mycss.css" rel="stylesheet" />

</head>

<body>
    <h2>INFO</h2>
    <div class="top-bar">

        <div class="main-bar">

            <div class="contact-left">

                <a><b>(089) 56276(HN)</b></a>

                <a><b>(089) 35369776(HCM)</b></a>

                <button>Liên hệ quảng cáo</button>

                <button>Like</button>

                <button>Follow</button>

                <button>Youtube</button>

            </div>

            <div class="login-right">

                <button>Đăng Nhập</button>

                <button>Đăng Ký</button>

                <input placeholder="Tìm Kiếm" />

            </div>

        </div>

    </div>

</body>

</html>

