﻿
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - VNEXPRESS</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
